
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-size: 1.rem;
  margin: 0;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
  margin-bottom: 50px;
}



.assentosContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.infoSection {
  flex: 2;
  text-align: left;
  max-width: 800px;
  margin-left: -5%;
  margin-top: 2%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.assento {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: var(--seat-available);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}



.assento.selecionado {
  background-color: var(--seat-selected);
}

.assento.indisponivel {
  background-color: var(--seat-unavailable);
  cursor: not-allowed;
}

.legenda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.legenda span {
  margin: 0 10px;
}

.botaoCompra {
  background-color: #DB3D2E ;
  color: #FFFFFF;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s;
}

.tela {
  width: 55%;
  height: 20px;
  background-color: #B0B0B0;
  text-align: center;
  margin: 10px auto;
  font-size: 0.9rem;
}

.legend {
  display: flex;
  gap: 20px; /* Espaçamento entre os itens */
  align-items: center;
  margin-top: 20px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre a bolinha e o texto */
  font-size: 14px;
  font-weight: bold;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.livre {
  background-color: white;
}

.selecionado {
  background-color: red;
}

.indisponivel {
  background-color: gray;
}